<ion-header>
  <ion-navbar color="nlgen">
    <ion-title>Sponsors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item ion-item class="item">
      <h4 class="sectionTitle">
        Sponsors and Partners
      </h4>
      <div *ngFor="let sponsor of sponsors" class="imgsDiv">
        <a href={{sponsor.website}} target="blank">
          <img [src]="sponsor.img" class="sponsorImg">
        </a>
      </div>
    </ion-item>
    <ion-item class="item">
      <h4 class="sectionTitle">
        Tech Parnters
      </h4>
      <div *ngFor="let techy of techSponsors" class="imgsDiv">
        <a href={{techy.website}} target="blank">
          <img [src]="techy.img" class="sponsorImg">
        </a>
      </div>
    </ion-item>
    <ion-item class="item">
      <h4 class="sectionTitle">
        Travel Partners
      </h4>
      <div *ngFor="let travel of travelSponsors" class="imgsDiv">
        <a href={{travel.website}} target="blank">
          <img [src]="travel.img" class="sponsorImg">
        </a>
      </div>
    </ion-item>
  </ion-list>

</ion-content>