page-agenda {
 .list{
    width: 100%;
    margin: auto;
    border: 3px solid #00bfbb;
 }

//  .textstyle{
//     text-align: center;
//  }
 .texttitel{
    font-weight: bold;
    // text-align: center;
 }
}
