page-agenda {

  .eventTitle{
    color:#00bfbb;
    font-size: 120%;
    font-weight: bolder;
  }

  .eventSpeaker {
    font-size: 90%;
    font-weight: bold;
    padding-top: 1px;
    margin-bottom: 2px;
  }
}
