page-profile {

    img1 {
        width: 50%;
        height: 50%;
        position:absolute;
        left: 50%;
        right: 50%;
        margin:0 auto;
        top:50%;
        
        border: 2px solid #00bfbb;
    }

}
