page-pin-code {
  #logoImg {
    display: flex;
    height: 90%;
    width: 80%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 0%;
    max-width: 25em;
    max-height: 47%;
  }
  #grid {
    margin: 0px 0px;
    padding: 0%;
  }

}
