<ion-header>

  <ion-navbar color="nlgen">
    <ion-title>Update Personal Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <img *ngIf="picURL" id="profImg" [src]="picURL">
  <button ion-fab mini color=nlgen id="camButt" (click)=selectSrc()>
    <ion-icon name="camera"></ion-icon>
  </button>

  <ion-list id="list">
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input [(ngModel)]="user.firstName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input [(ngModel)]="user.lastName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Country</ion-label>
      <ion-select [(ngModel)]="user.country" type="text">
        <ion-option *ngFor="let country of countries">{{country}}</ion-option>
      </ion-select>
      </ion-item>
    <!-- <ion-item>
      <ion-label>Age</ion-label>
      <ion-input [(ngModel)]="user.age" type="text"></ion-input>
    </ion-item> -->
    <ion-item> 
      <ion-label>Position:</ion-label>
      <ion-input [(ngModel)]="user.position" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description:</ion-label>
      
      <ion-textarea  [(ngModel)]="user.description" >
        </ion-textarea>
    </ion-item>
  </ion-list>
  
  <div style="text-align:center;">
    <button  round ion-button (click)="goToPage('saved')" color="nlgen">Save
    </button><br>
    <button  round ion-button (click)="goToPage('cancel')" color="nlgen">Cancel
    </button>
</div>

</ion-content>
