page-app-team {
    .info-style {
        position: absolute;
        bottom: 120px;
        left: 30px;
    }

    ion-card {
        position: relative;
        text-align: center;
    }

    #refugeesHeader {
        margin-top: 0%;
        font-style: italic;
        text-align: center;
        font-size: 80%;
        font-family: 'Slabo 27px', serif;
    }

    .card-title {
        position: absolute;
        top: 82%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: 9px 9px 9px rgb(73, 73, 73);
    }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 93%;
        width: 100%;
        color: #fff;
        text-shadow: 9px 9px 9px rgb(73, 73, 73);
    }

}
