page-signup {
  #logoImg {
    display: flex;
    height: 90%;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 0%;
    max-width: 70%;
    max-height: 42%;
  }
  #grid {
    margin: 0px 0px;
    padding: 0%;
  }
}
