<ion-header>

  <ion-navbar color="nlgen">
    <ion-title *ngIf="person">{{person.firstName + ' ' + person.lastName + "' "}}Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-card> -->
    <ion-grid *ngIf="person">
      <ion-row>
        <img *ngIf="picURL" [src]="picURL" class="personalImg">
        <ion-col class="titleCol">
          <h1>{{person.firstName + ' ' + person.lastName}}</h1>
          <h3>{{person.position}}</h3>
        </ion-col>
      </ion-row>
      <ion-row class="desRow">
        {{person.description}}
      </ion-row>
    </ion-grid>
  <!-- </ion-card> -->
</ion-content>
