page-person-info {
  .personalImg {
    min-width: 50%;
    min-height: 15em;
    max-width: 40%;
  }
  
  .desRow {
    margin-top: 1em;
    padding-top: 1em;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 120%;
  }
}
