<ion-header>

  <ion-navbar color="nlgen">
    <ion-title *ngIf="person">{{person.firstName + ' ' + person.lastName + "' "}}Info</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <ion-card>
    <ion-grid *ngIf="person"> 
      <ion-row>
        <img src="https://qph.ec.quoracdn.net/main-thumb-100309-50-vctkfcvpnbuhpcpeiupepzbnppopgbph.jpeg" class="personalImg">
        <ion-col class="titleCol">
          <button ion-button small (click)="goToReportpage()" color="nlgen" style="padding: 17zpx 6px;border-radius: 50%; position: absolute;  right: 0;" >
                Rebort
          </button>
          <h1>{{person.firstName + ' ' + person.lastName}}</h1>
          <h3>{{person.position}}</h3>  
        </ion-col>
      </ion-row>
      <ion-row class="desRow">
        {{person.description}}
        
      </ion-row>
      
    </ion-grid>
  </ion-card>
</ion-content>
